@charset "UTF-8";

#wrapper {
	width: 900px;
	margin:0 auto;
	padding: 30px;
	background-image: url("images/contentbackground.jpg");
	background-size: contain;
}

#title {
	font-size: 50px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#383838;
	width: 300px;
	float: left;
}

#this {
	height: 300px;
	width: 900px;
	float: left;
}

#header {
	font-size: 40px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}